/** @format */

@use "../../App.scss";

.inputWrapper {
  position: relative;

  .Input,
  .Texarea {
    padding: 10px;
    border-radius: 9px;
    font-size: 13px;
    outline: none;
    border: 1px solid var(--border-color);
    background-color: var(--info-box-color);
    color: var(--text-color);
    transition: all 0.1s linear;
    overflow-x: hidden;
  }

  .count {
    position: absolute;
    bottom: -20px;
    right: 8%;
    z-index: 999;
  }
}
.Input:focus,
.Texarea:focus {
  border: 1px solid var(--banner-text-color);
}

.Texarea {
  height: 60px;
  overflow: scroll;
  resize: none;
}

@media screen and (min-width: App.$mobile) {
  .Input,
  .Texarea {
    font-size: 15px;
  }
}
