/** @format */
@use "../../App.scss";

.Btn {
  outline: none;
  background-color: transparent;
  border: 1px solid var(--pill-color);
  border-radius: 8px;
  color: var(--primary-text-color);
  font-size: 14px;
  // line-height: 14px;
  padding: 7px 12px 7px 12px;
  // margin: 3px 0 3px 0;
  border-radius: 8px;
  transition: all 0.12s linear;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &:hover {
    background-color: var(--info-box-color);
    // scale: 1.03;
  }

  .space {
    margin: 0 7px 0 0;
  }

  .Btn_icon {
    color: var(--icon-color);
    font-size: 18px;
  }
}

.active {
  color: var(--active-icon-color);
  border: 1px solid var(--active-icon-color);

  .Btn_icon {
    color: var(--active-icon-color);
  }
}

.danger {
  color: red;
  border: 1px solid red;
}

.hideBorder {
  border: none !important;
}

.primary {
  background-color: var(--pill-color);

  &:hover {
    background-color: var(--primary-hover-color);
  }
}

.disabled {
  background-color: transparent;
  color: var(--disabled-color);
  border: 1px solid var(--disabled-color);
  opacity: 0.7;
  cursor: not-allowed;

  &:hover {
    background-color: transparent;
    opacity: 0.7;
    cursor: not-allowed;
    scale: 1;
  }
}

@media screen and (max-width: App.$mobile) {
  .Btn {
    font-size: 12px;
    padding: 5px 9px 5px 9px;

    &:hover {
      background-color: transparent;
    }
    .Btn_icon {
      font-size: 17px;
    }
  }
}
