/** @format */

.Btn {
  outline: none;
  background-color: transparent;
  border: 1px solid var(--border-color);
  padding: 8px;
  border-radius: 8px;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1rem;
  height: 32px;
  padding: 4px 10px 4px 10px;
  border-radius: 6px;
  transition: all 0.12s linear;
  font-size: 30px;
  cursor: pointer;

  &:hover {
    background-color: var(--background-hover-color);
    scale: 1.05;
  }

  .space {
    margin: 0 7px 0 0;
  }

  .Btn_icon {
    font-size: 20px;
  }
}

.active {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.danger {
    color: red;
    border: 1px solid red;
}

.hideBorder {
    border: none !important;
}
