/** @format */

.skeletonCover {
  position: relative;
  width: calc(100% / 3 - 3px);
  opacity: 0.23;
  margin: 1px;
  background-color: var(--secondary-text-color);
  box-sizing: border-box;
  overflow: hidden;

  .shine {
    position: absolute;
    left: 0;
    height: 100%;
    width: 20px;
    background-image: linear-gradient(
      to right,
      var(--secondary-text-color),
      var(--bg-color),
      var(--secondary-text-color)
    );
    opacity: 0.3;
    animation: loading 1.2s infinite ease-in-out;
  }
}

@keyframes loading {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}


