/** @format */

.marqueeContainer {
    width: 100%;
    overflow: hidden;
    padding: 3px 0 3px 0;

  .marquee {
    text-wrap: nowrap;
    white-space: nowrap;
    animation: run 30s infinite linear;

    &:hover {
        animation-play-state: paused;
    }
  }
}

@keyframes run {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


