/** @format */
@use "../../App.scss";

.newPost {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px 0 0 0;

  .mainArea {
    margin: 0 0 10px 0;

    .IsDragFileOver {
      background-color: var(--info-box-color) !important;
    }

    .btnContainer {
      position: relative;
      height: 40px;
      padding: 0 0 5px 0;
    }

    .headerArea {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 5px 0;

      .title {
        width: 120px;
        font-size: 20px;
        font-weight: 600;
        padding: 0 0 3px 3px;
        border-bottom: 1px solid var(--primary-text-color);
      }
    }

    .dropZone {
      width: 100%;
      border: 1px dashed var(--secondary-text-color);
      background-color: var(--drop-zone-color);
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.12s linear;
      box-sizing: border-box;

      &:hover {
        background-color: var(--info-box-color);
      }
      .instruction {
        color: var(--secondary-text-color);
        text-align: center;
        width: 100%;

        .icon {
          font-size: 30px;
          margin: 0 0 12px 0;
        }
      }

      .previewImg {
        width: 100%;
        max-width: 100%;
      }
    }

    .changeFile_text {
      width: 100%;
      color: var(--secondary-text-color);
      text-align: center;
      margin: 10px 0 0 0;
    }

    .btnContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 10px 0 0 0;
    }

    .anonyContainer {
      display: flex;
      align-items: center;
      font-size: 15px;
      margin: 20px 0 20px 0;
      max-height: 30px;

      .switch {
        margin: 0 0 0 10px;
      }
    }

    .step3 {
      box-sizing: border-box;
      display: flex;
      justify-content: center;

      .step3_container {
        width: 100%;
        max-width: 450px;

        .infoContainer {
          display: flex;
          align-items: center;
          margin: 25px 0 0 0;

          .avatar {
            height: 60px;
            border-radius: 50%;
          }

          .infor {
            margin: 0 0 0 10px;

            .name {
              font-size: 18px;
              font-weight: 600;
              margin: 0 0 8px 0;
            }

            .time {
              font-size: 13px;
            }
          }
        }

        .previewImage {
          margin: 12px 0 0 0;
          border-radius: 20px;
          width: 100%;
        }

        .previewCaption {
          margin: 7px 0 0 0;
          padding: 0 0 0 0;
          max-width: 100%;
          box-sizing: border-box;
          text-wrap: wrap;
        }

        .actionCon {
          margin: 10px 0 0 0;
          padding: 0 10px 0 10px;
          box-sizing: border-box;

          .actionIcon {
            font-size: 25px;
            margin: 0 22px 0 0;

            &:nth-child(2) {
              transform: rotate(-30deg) translateY(-5px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: App.$mobile) {
  .ant-modal {
    top: 3vh !important;
  }

  .newPost {
    padding: 8px 0 0 0;
    .mainArea {
      .instruction {
        font-size: 12px;
      }

      .step3 {
        .step3_container {
          .infoContainer {
            .avatar {
              height: 50px;
            }

            .infor {
              .name {
                font-size: 13px;
              }

              .time {
                font-size: 11px;
              }
            }
          }

          .previewImage {
            width: 100%
          }

          .previewCaption {
            font-size: 11px;
          }

          .actionCon {
            .actionIcon {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
