/** @format */

@use "../../App.scss";

.newFeed {
  .postsZone {
    padding: 20px 2vw 0 2vw;

    .NTTCtn {
      display: flex;
      margin: 0 0 15px 0;

      .NTT {
        width: calc(100% / 3);
        padding: 0 15px 0 15px;
        box-sizing: border-box;

        .rank {
          font-weight: 600;
          font-size: 15px;
          text-align: center;
        }
        .LogoCtn {
          margin: 15px 0 0 0;
          display: flex;
          justify-content: space-between;

          img {
            height: 25px;
          }
        }
      }
    }

    .quoteOnTop {
      font-size: 15px;
      padding: 5px;
      background-color: var(--banner-color);
      color: var(--banner-text-color);
      display: none;
      text-align: center;
    }

    .bannerImg {
      display: none;
      position: relative;
      width: 100%;
      height: 120px;
      background-color: rgb(210, 210, 210);

      .moreBtn {
        position: absolute;
        bottom: 8px;
        right: 10px;
        outline: none;
        border: none;
        background-color: var(--pill-color);
        color: var(--pill-text-color);
        padding: 5px 15px 5px 15px;
        border-radius: 12px;
        font-size: 12px;
        box-shadow: 2px 2px 5px var(--secondary-text-color);
        cursor: pointer;
      }
    }

    .postsContainer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: center;

      .post {
        width: calc(100% / 3);
        padding: 1px;
        box-sizing: border-box;
        transition: all 0.12s linear;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .bannerSection {
    box-sizing: border-box;
    padding: 30px 10px 0 0;

    .quoteOnTop {
      font-size: 15px;
      padding: 5px;
      background-color: var(--banner-color);
      color: var(--banner-text-color);
      display: block;
      border-radius: 8px;
      margin: 0 0 10px 0;
      text-align: center;
    }

    .bannerImg {
      display: block;
      position: relative;
      width: 100%;
      height: 120px;
      background-color: rgb(210, 210, 210);
      border-radius: 7px;
      margin: 0 0 15px 0;

      .countdown {
        position: absolute;
        bottom: 15px;
        left: 15px;
        text-shadow: 1px 1px 1px var(--secondary-text-color);
      }

      .moreBtn {
        position: absolute;
        bottom: 15px;
        right: 15px;
        outline: none;
        border: none;
        background-color: var(--pill-color);
        color: var(--pill-text-color);
        padding: 5px 15px 5px 15px;
        border-radius: 12px;
        font-size: 12px;
        box-shadow: 2px 2px 5px var(--secondary-text-color);
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: App.$mobile) {
  .newFeed {
    .postsZone {
      padding: 0;

      .quoteOnTop,
      .bannerImg {
        display: block;
      }
    }

    .bannerSection {
      padding: 0 5px 0 5px;

      .bannerImg {
        margin: 0 0 5px 0;

        .moreBtn {
          right: 8px;
          bottom: 8px;
        }
      }
    }

    .postsZone {

      .NTTCtn {
        display: flex;
        margin: 0 0 15px 0;
  
        .NTT {
          width: 200px;
          padding: 0 15px 0 15px;
          box-sizing: border-box;
  
          .rank {
            font-weight: 600;
            font-size: 7px;
            text-align: center;
          }
          .LogoCtn {
            margin: 8px 0 0 0;
            display: flex;
            justify-content: space-between;
  
            img {
              height: 12px;
            }
          }
        }
      }
    }
  }
}
