/** @format */

.navPC {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 100vh;
  // justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-right: 1px solid var(--border-color);
  transition: all 0.12s linear;

  .footer {
    position: absolute;
    bottom: 95px;
    display: flex;
    flex-direction: column;
  }
}

.NavMobile {
  display: none;
  z-index: 999;

  .NavMobileTop,
  .NavMobileBottom{
    width: 100vw;
    height: var(--nav-height);
    position: fixed;
    background-color: var(--bg-color);
    box-sizing: border-box;
    z-index: 5;
  }
  .NavMobileTop {
    top: 0;
    box-shadow: 1px 1px 4px var(--background-hover-color);
  }

  .NavMobileBottom {
    bottom: 0;
    box-shadow: -1px -1px 4px var(--background-hover-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15vw 0 15vw;
    z-index: 998 !important;
  }

  .NavMobileBottom_SubMenu {
    bottom: calc(--nav-height);
    width: 100vw;
    height: 40px;
    position: fixed;
    background-color: var(--bg-color);
    box-shadow: -1px -1px 4px var(--background-hover-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15vw 0 15vw;
    box-sizing: border-box;
    z-index: 997 !important;
  }
}

@media screen and (max-width: 768px) {
  .navPC {
    visibility: hidden;
    display: none;
  }
  .NavMobile {
    display: block;
  }
}
