/** @format */

.logo {
  // filter: drop-shadow(0.8px 0.8px 0.8px var(--primary-text-color));
  transition: all 0s linear;
}

.navPC {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 100vh;
  // justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-right: 1px solid var(--border-color);
  transition: all 0.12s linear;

  .logoPc {
    width: 100%;
    box-sizing: border-box;

    &:nth-child(1) {
      padding: 5px 2px 5px 2px;
    }

    &:nth-child(2) {
      padding: 5px 12px 20px 12px;
      border-bottom: 1px solid gray;
    }
  }

  .mainbtn {
    margin: 12px 0 0 0;
  }

  .footer {
    position: absolute;
    bottom: 95px;
    display: flex;
    flex-direction: column;
  }
}

.NavMobile {
  display: none;
  z-index: 999;

  .NavMobileTop,
  .NavMobileBottom {
    width: 100vw;
    position: fixed;
    background-color: var(--bg-color);
    box-sizing: border-box;
    z-index: 5;
  }
  .NavMobileTop {
    top: 0;
    box-shadow: 1px 1px 4px var(--background-hover-color);

    .logoMobile {
      height: 100%;
      box-sizing: border-box;

      &:nth-child(1) {
        padding: 8px 0 5px 4.5vw;
      }

      &:nth-child(2) {
        padding: 11px 0 12px 14px;
      }
    }
  }

  .NavMobileBottom {
    bottom: 0;
    box-shadow: -1px -1px 4px var(--background-hover-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 15vw 2px 15vw;
    z-index: 998 !important;
  }

  .NavMobileBottom_SubMenu {
    bottom: calc(--nav-height);
    width: 100vw;
    height: 40px;
    position: fixed;
    background-color: var(--bg-color);
    box-shadow: -1px -1px 4px var(--background-hover-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15vw 0 15vw;
    box-sizing: border-box;
    z-index: 997 !important;
  }
}

@media screen and (max-width: 768px) {
  .navPC {
    visibility: hidden;
    display: none;
  }
  .NavMobile {
    display: block;
  }
}
