/** @format */
@use "../../App.scss";

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.12s linear;

  .avatar {
    border-radius: 50%;
    width: 60%;
  }

  .active {
    transition: all 0.12s linear;
    border: 3px solid var(--primary-color);
  }
}

.hoverable {
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }
}

@media screen and (max-width: App.$mobile) {
  .avatarContainer {
    .active {
      border: 2px solid var(--primary-color);
    }
  }
}
