.blockedScreen {
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 999;
    transition: all 0s linear;

    .title, .description {
        color: white;
        position: absolute;
    }
    
    .title {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        font-weight: 600;
    }

    .description {
        width: 100%;
        top: 52%;
        text-align: center;
        font-size: 18px;
        // transform: translate(-50%, -50%);
    }
}