/** @format */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@100;500;600;700;800;900&display=swap");

//Var
$mobile: 768px;

:root {
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-right: env(safe-area-inset-right);
  --safe-area-inset-left: env(safe-area-inset-left);
}

body {
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
  font-family: "EB Garamond", serif;
  overflow: hidden;
}

* {
  // transition: all 0.12s linear;
  // overscroll-behavior: none;
}

.app {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--bg-color);
  transition: all 0.12s linear;
  overflow-y: hidden;
}

// message
.ant-message-notice-content {
  background-color: var(--info-box-color) !important;
  color: var(--info-text-color) !important;
}

// Spin
.ant-spin-blur {
  background-color: transparent !important;
  background-image: linear-gradient(var(--banner-color), --icon-color);
}
.ant-spin-text {
  color: var(--primary-text-color) !important;
  text-shadow: none !important;
}
.ant-spin-dot-item {
  background-color: var(--primary-text-color) !important;
}

// Popover
.ant-popover-inner,
.ant-popover-inner-content {
  padding: 8px;
  background-color: var(--info-box-color) !important;
  color: var(--info-text-color) !important;
}
// .ant-popover-inner {
//     box-shadow: 0px 0px 1.5px var(--text-color) !important;
// }

.ant-popover-arrow,
.ant-popover-arrow::before {
  //   background-color: var(--background-color) !important;
}

.ant-popover-arrow::after {
  background-color: var(--info-box-color) !important;
  // border: 1px solid var(--text-color);
}

// Modal
.ant-modal-content {
  background-color: var(--bg-color) !important;
}

.anticon-close {
  color: var(--primary-text-color) !important;
}

// Table
.ant-table-wrapper {
  height: 100% !important;
  max-height: 100vh !important;
  padding: 20px;
  box-sizing: border-box;

  .ant-table-cell {
    background-color: var(--info-box-color) !important;
    color: var(--pill-text-color) !important;
    border: 1px solid var(--bg-color) !important;

    &::before {
      background-color: transparent !important;
    }
  }

  .ant-pagination-item {
    background-color: var(--info-box-color) !important;
  }

  .ant-pagination-item-active {
    border: 1px solid var(--primary-color) !important;
    a {
      color: var(--primary-color) !important;
    }
  }

  .ant-pagination-item-link {
    color: var(--secondary-text-color) !important;
  }
}

@media screen and (max-width: $mobile) {
  .ant-table-wrapper {
    .ant-table-cell {
      font-size: 10px;
    }
  }
}
