@use '../App.scss';

.mainLayout {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;

    .OutletContainer {
        width: calc(100vw - 70px);
        height: 100vh;
        overflow-Y: scroll;
    }
}

@media screen and (max-width: App.$mobile) {
    .mainLayout {
        .OutletContainer {
            margin-top: 47px;
            width: 100vw;
            height: calc(100vh - 47px - 47px);
        }
    }
}

